
/* -------------------------------------------------------------------------- */
/*                                   Heights                                  */
/* -------------------------------------------------------------------------- */
.h-169{
    height: 169px !important;
}
/* .h-35{
    height: 35rem !important;
} */

/* -------------------------------------------------------------------------- */
/*                                    width                                   */
/* -------------------------------------------------------------------------- */

.w-15{
    width: 15rem;
}
.w-18{
    width: 18rem;
}

/* -------------------------------------------------------------------------- */
/*                                   margin                                   */
/* -------------------------------------------------------------------------- */

.top-30{
    top: -30px;
}
.left-50{
    left: 50px;
}




/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
.cl-537895{
    color: #537895;
}

/* -------------------------------------------------------------------------- */
/*                              background colors                             */
/* -------------------------------------------------------------------------- */
.bg-537895{
    background-color: #537895 !important;
}
.bg-F9FDFF{
    background-color: #F9FDFF !important;
}
.bg-F6FFFA{
    background-color: #F6FFFA !important;
}
.bg-FFF9F5{
    background-color: #FFF9F5 !important;
}
.bg-FFEDDE{
    background-color: #FFEDDE !important;
}
.bg-F9F9F9{
    background-color: #F9F9F9 !important;
}
.bg-FCF6FF{
    background-color: #FCF6FF !important;
}

/* -------------------------------------------------------------------------- */
/*                                  other css                                 */
/* -------------------------------------------------------------------------- */
.cursor-pointer
{
    cursor: pointer;
}

.rotate-x-180{
    transform: rotateX(180deg);
}
.rotate-y-180{
    transform: rotateY(180deg);
}


